.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.fac {
    align-items: center;
}
.fjc {
    justify-content: center;
}
.fsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.facjc {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fjsb {
    justify-content: space-between;
}
.bg-white {
    background-color: #fff;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: #0075ff;
}
.bg-orange {
    background-color: #f59e0b;
}
.bg-green {
    background-color: #22c55e;
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-blue {
    color: #0075ff;
}
.c-blue-alt {
    color: #0d69d5;
}
.c-orange {
    color: #f59e0b;
}
.c-green {
    color: #22c55e;
}
.c-red {
    color: #f44336;
}
.c-gray {
    color: #888;
}
.w-fit {
    width: fit-content;
}
.w-full {
    width: 100%;
}
.m-0 {
    margin: 0;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-5 {
    margin-bottom: 5px;
} 
.mb-10 {
    margin-bottom: 10px;
} 
.mb-20 {
    margin-bottom: 20px;
} 
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-rel {
    position: relative;
}
.p-abs{
    position: absolute;
}
.p-center {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}
.f-wb{
    font-weight: bold;
}
.txc {
    text-align: center;
}
.tfs14 {
    font-size: 14px;
}
.tfs15 {
    font-size: 15px;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.ovh {
    overflow: hidden;
}
.bxs {
    box-shadow: 0 0 10px #ddd;
}
.d-block {
    display: block;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
    .block-mobile {
        display: block;
    }
    .hidden-mobile {
        display: none;
    }
}
.btn-shape {
    padding: 6px 10px;
    border-radius: 6px;
}

.b-none {
    border: none;
}